/* Responsive images */
.wrap img {
	height: auto;
	max-width: 100%;
}

/* Custom text styles */
.subtitle {
	font-size: 14px;
	letter-spacing: 1px;
	margin: 28px 0;
	text-align: center;
}

.main-phrase {
	font-size: 60px;
	font-weight: 900;
	letter-spacing: -2px;
	text-align: center;
	color: #fff;
	opacity: 0.9;
	margin-bottom: 30px;

	@media (min-width: 992px) {
		font-size: 95px;
		line-height: 95px;

		letter-spacing: -6px;
		margin-top: 30px;
	}
}

/* Preload */
#preload {
	background: #1f1f1f;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 998;
}

#preload-content {
	height: 100px;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	position: absolute;
	top: 50%;
	width: 100px;
	z-index: 999;
}

.preload-spinner {
	margin: 0 auto 14px;
	text-align: center;
}

.loading-logo-wraper {
	width: 100px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 20px;

	img {
		width: 100%;
	}
}

.tp-loader {
	z-index: 10000;
	position: relative;

	&.spinner {
		width: 30px;
		height: 30px;
		margin: 0 auto;
		margin-bottom: 10px;
		border: 2px solid #fff;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
		-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
		-webkit-animation: tp-rotateplane 0.8s infinite ease-in-out;
		animation: tp-rotateplane 0.8s infinite ease-in-out;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}
}

@-webkit-keyframes tp-rotateplane {
	50% {
		-webkit-transform: rotate(180deg);
	}

	100% {
		-webkit-transform: rotate(180deg);
	}
}

@keyframes tp-rotateplane {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}

	50% {
		transform: rotate(180.1deg);
		-webkit-transform: rotate(180.1deg);
	}

	100% {
		transform: rotate(180.1deg);
		-webkit-transform: rotate(180.1deg);
	}
}

.wrap {
	min-height: 100%;
	position: relative;
}

.inner {
	margin: 0 auto;
	padding: 42px 24px;
}

#main {
	position: relative;
}

#main .inner {
	max-width: 816px;
	padding-bottom: 20px;
	padding-top: 84px;
}

/* Background Overlay */
.body-bg {
	background: rgba(0, 0, 0, 0.7);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}

/* Header */
.site-title {
	font-size: 30px;
}

@media only screen and (max-width: 680px) {
	h1 {
		font-size: 36px;
	}
}

@media only screen and (max-width: 480px) {
	h1 {
		font-size: 30px;
	}
}

.no-js #preload {
	display: none;
}
