@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap&family=Poppins:wght@300;400;600;900&family=Roboto:wght@900&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	color: black;
}

a {
	color: black;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input {
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.heavy {
	font-family: 'Roboto', sans-serif;
}

.bg-dark-gradient {
	background-color: #222222;
	background-image: linear-gradient(#222222, #121212);
}

.bg-main {
	background-color: #d8e5ef;
}

.container-main {
	max-width: 1400px;
	margin: 0 auto;
}
